<div id="cta">
  <span id="mailbox-emoj">📬</span>
  <span class="mono">blog.addEventListener()?</span>
  <a id="subscribe" href="https://tinyletter.com/heybruce" target="_blank">Sign me up</a> | 
  <a id="no-subscribe" href="javascript:void(0)">No, thanks</a>
</div>
<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <!-- sitenav and clearfix div hidden since there are no header_pages in _config.yml -->
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
