<div class="py2 post-footer">
  <img
    src="{{ site.baseurl }}/images/me.jpg"
    alt="Bruce Lefebvre"
    class="avatar"
  />
  <p>
    Bruce is a huge fan of the open web, currently working at Adobe as a
    Computer Scientist Lead. Outside of the office he can be found riding a bike
    and spending time with his family.
  </p>
  <p>
    Follow along on
    <a href="https://twitter.com/brucelefebvre" target="_blank">Twitter</a>, or
    get in touch <a href="/contact/">directly</a>.
  </p>
</div>
