<div class="py2 post-footer">
  <img
    src="{{ site.baseurl }}/images/me.jpg"
    alt="Bruce Lefebvre"
    class="avatar"
  />
  <p>
    Bruce is a huge fan of the open web, currently working at Adobe as a
    Computer Scientist Lead. Outside of the office he can be found riding bikes
    and spending time with family.
  </p>
  <p>
    Subscribe to <a href="https://tinyletter.com/heybruce" target="_blank">get notified</a> of new posts, follow along on
    <a href="https://twitter.com/brucelefebvre" target="_blank">Twitter</a>, or
    get in touch <a href="/contact/">directly</a>.
  </p>
</div>
<!-- Site JS -->
<script src="/js/main.js"></script>