.site-header {
  padding-top: $space-4;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
  text-decoration-line: underline;
  text-underline-position: under;
  /*text-decoration-style: wavy;*/
  /* text-decoration-color: #63AEFE; */
  text-decoration-color: rgba(255, 105, 97, 0.50);
  -webkit-text-decoration-color: rgb(255, 164, 162);
  text-decoration-thickness: 4px;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

#cta {
  background-color: rgb(221,211,238);
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: -35px;
  right: 0;
  left: 0;
  height: 34px;
  line-height: 35px;
  transition-property: top;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  border-bottom: 1px solid rgb(200, 200, 200);
  box-shadow: 0 -1px 6px darkgray;

  a {
    text-decoration: none;
    background-image: none;
    text-shadow: none;
    color: #0076df;;
  }
}

#mailbox-emoj {
  display: none;
}

@media (min-width: 400px) {
  #mailbox-emoj {
    display: inline;
  }
}

#cta.visible {
  top: 0;
}